<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-8 text-start">
            <h1 class="display-4">Hi, I'm <span style="color: #00ffff"><b><%= personalInfo.name %></b></span></h1>
            <h3 class="lead">A <span id="typewriter-text"></span></h3>
            <hr class="my-4">
            <p class="lead">This is my personal portfolio where I showcase my skills, projects, and experiences.</p>
            <div class="social-icons">
                <a href="<%= personalInfo.github %>" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>
                <a href="<%= personalInfo.linkedin %>" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
                <a href="<%= personalInfo.instagram %>" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
            <a class="btn btn-primary btn-lg" href="/about" role="button" style="color: black !important;">Learn more about me</a>
            <a class="btn btn-primary btn-lg ms-2" href="/downloads/kartik_Joshi-resume.pdf" download="kartik_Joshi-resume.pdf" role="button" style="color: black !important;">Download CV</a>
        </div>
        <div class="col-md-4 mt-6">
            <img src="/images/myImage.jpg" class="img-fluid rounded-circle" alt="Your Picture">
        </div>
    </div>
</div>



<%- include('partials/footer') %>
